@import "tailwindcss";


@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
  iframe html::-webkit-scrollbar,
  iframe body::-webkit-scrollbar {
    display: none !important;
  }
  iframe html,
  iframe body {
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
}

.epub-container::-webkit-scrollbar {
  display: none !important;
}

.epub-container {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}


}

.ql-container {
  border: none !important;
}

.ql-tooltip {
  display: none !important;
}

.ql-size-8px { font-size: 8px; }
.ql-size-12px { font-size: 12px; }
.ql-size-16px { font-size: 16px; }
.ql-size-20px { font-size: 20px; }
.ql-size-24px { font-size: 24px; }
.ql-size-32px { font-size: 32px; }
.ql-size-48px { font-size: 48px; }
.ql-align-center {
  text-align: center;
}
.ql-align-right {
  text-align: right;
}

.ql-editor img {
  display: inline-block;
}

.ql-content img{
display: inline-block;
}



